@charset "UTF-8";

#contents>#list{
	margin-left:50px;
	margin-top:20px;
	width: 1500px;
	height: 1000px;
}

#table{
	font-size: 20px;
	width: 1400px;
	height: 800px;
	table-layout: fixed;
}


