<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="spring.com.mapper.MemberMapper">

<select id="selectAllMember" resultType="MemberVO">
        SELECT m_num,id,pw,address from members
</select>
   	
<select id="loginCheck" resultType="String">
        SELECT pw from members where id=#{id};
</select>

<select id="signin" resultType="spring.com.dto.MemberVO">
INSERT into members (m_num,id,pw,name,address) value (#{m_num},#{id},#{pw},#{name},#{address});
</select>

<select id="getm_num" resultType="int">
SELECT m_num from members order by m_num desc limit 1;
</select>

<select id="checkid" resultType="int">
SELECT count(id) from members where id=#{id}
</select>

<select id="checkUserPW" resultType="String">
SELECT id from members where pw=#{pw}
</select>
<select id="checkUserID" resultType="String">
SELECT pw from members where id=#{userID}
</select>


</mapper>
